/* Reset de margens e preenchimentos para elementos básicos */
body, h1, h2, p, a, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: 'Times New Roman', serif;
    line-height: 1.6;
    background-color: var(--bg-color);
}

/* Estilos para o cabeçalho */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-header);
    color: var(--text-header);
}

.logo {
    margin: 0;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu {
    margin-left: auto;
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

/* Estilos do container do perfil */
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.profile-content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: 35px;
}

.intro {
    text-align: left;
}

.intro .greeting {
    font-size: 1.2rem;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Times New Roman', serif;
    color: var(--gr-color);
}

.intro .name {
    font-size: 2rem;
    margin: 0;
    font-family: 'Times New Roman', serif;
    color: var(--na-color);
}

.intro .description {
    font-size: 1.2rem;
    margin-top: 5px;
    font-family: 'Times New Roman', serif;
    color: var(--de-color);
}

/* Seções */
.section {
    padding: 2rem;
}

.section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--sec-color);
}

/* Estilos gerais para as seções */
.about-box,
.skills-list,
.content-box {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 1.1rem;
    color: var(--text-section);
    background-color: var(--bg-section);
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-footer);
    color: var(--text-footer);
}

/* Links dentro da seção de contato */
.section#contato a {
    color: white;
}

/* Cor do texto nas seções */
.about-box p,
.skills-list p,
.content-box p,
.content-box a,
.content-box label,
#contact-form label {
    color: var(--text-section);
}

/* Botão do modo claro/escuro */
.theme-toggle {
    position: absolute;
    top: 100px; /* Ajuste da posição vertical */
    right: 65px; /* Ajuste da posição horizontal */
    z-index: 9999;
    padding: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.theme-toggle img {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 30px;
    transition: transform 0.3s;
    border-radius: 50%;
}

.theme-toggle:hover img {
    transform: scale(1.1);
}

/* Estilos específicos para o modo claro (padrão) */
:root {
    --bg-header: #556ce0;
    --text-header: #eee6e6;
    --bg-section: #dfd1d1;
    --text-section: #0f0f0f;
    --bg-footer: #556ce0;
    --text-footer: #eee6e6;
    --text-color: #eee6e6;
    --bg-color: #f1e1e1;
    --sec-color: #0f0f0f;
    --gr-color: #0f0f0f;
    --na-color: #0f0f0f;
    --de-color: #0f0f0f;
}

/* Estilos específicos para o modo escuro */
.dark-mode {
    --bg-header: #4c3dd3;
    --text-header: #eee6e6;
    --bg-section: #534c92;
    --text-section: #eee6e6;
    --bg-footer: #4c3dd3;
    --text-footer: #eee6e6;
    --text-color: #eee6e6;
    --bg-color: rgb(39, 37, 37);
    --sec-color: #eee6e6;
    --gr-color: #eee6e6;
    --na-color: #eee6e6;
    --de-color: #eee6e6;
}

/* Estilos do botão de trocar de linguagem */
.theme-toggle[onclick="toggleLanguage()"] {
    right: 20px; /* Ajuste da posição horizontal */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.theme-toggle[onclick="toggleLanguage()"] img {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 30px;
    transition: transform 0.3s;
}

.theme-toggle[onclick="toggleLanguage()"]:hover img {
    transform: scale(1.1);
}

/* Estilos para o botão de voltar */
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.back-button:hover {
    background-color: #2980b9;
}

/* Estilos para a seção de agradecimento */
#thanks {
    text-align: center;
    padding: 40px 0;
}

#thanks h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content-box.feedback {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 0;
    margin-top: -75px;
    margin-left: -150px;
}

.social-buttons img {
    width: 30px; 
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 50%;
}

.social-buttons img:hover {
    transform: scale(1.1);
}

.skills-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Ajuste a margem conforme necessário */
}

.skills-list img {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 10px; /* Ajuste a margem conforme necessário */
}
